
const.py

.env

static/
staticfiles/
logs/
.venv
.venv_python313
.idea
.venv_python313
__pycache__
.pytest_cache

taskmanager/__pycache__

# статика и медиа
media/


# виртуальное окружение
venv/

# ide файлы
.idea/

# временные файлы
__pycache__
.pytest_cache
bpm/__pycache__/
users/__pycache__/
tasks/__pycache__/
chat/__pycache__/
news/__pycache__/
notifications/__pycache__/
# python manage.py graph_models -a -o my_er_diagram.pn
#<bpmndi:BPMNEdge id="Flow_04jfzdf_di" bpmnElement="Flow_04jfzdf" bioc:stroke="rgb(67, 160, 71)" bioc:fill="rgb(200, 230, 201)">